/.bundle
/vendor/bundle

/.env*
!/env.example

/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/sockets/
!/tmp/sockets/.keep
!/tmp/storage/
!/tmp/storage/.keep

/storage/*
!/storage/.keep

/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.rake
/db/schema.rb
/db/structure.sql
!/db/migrate/

/config/master.key
/config/credentials/*.key

*.swp
.DS_Store
.idea/
.vscode/
*.sublime*

*.rbc
.byebug_history
